/* -webkit-background-clip: text; 
color: transparent;
background: linear-gradient(..) */
* {
  margin: 0;
  padding: 0;
  display: block;
  font-family: sans-serif;
}
title {
  display: none;
}
script {
  display: none;
}
/*Maingrid*/

.maingrid h1,
p {
  color: rgb(80, 26, 26);
}

.maingrid img {
  width: auto;
  max-height: 65%;
}
#content3 img {
  width: 300px;
  height: 110px;
}
.content-p p {
  color: white;
  font-size: 20px;
  margin-left: 7rem;
  margin-top: -2rem;
}
/* grid */
.maingrid {
  background-color: rgb(161, 160, 160);
  height: 100vh;
}

.maingrid .container {
  width: 75vw;
  padding-top: 20px;
  display: grid;
  height: 90vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "title content1 content2 "
    "title content3 content3"
    "content4 content5 content6";
}

#title {
  grid-area: title;
  height: fit-content;
  overflow: visible;
}

.p-front {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.title {
  height: auto;
  text-align: center;
  /* margin: 10px; */
}

.box {
  color: white;
  font-size: 20px;
  position: relative;
}

#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

#content5 {
  grid-area: content5;
}

#content6 {
  grid-area: content6;
}

/* flip card */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: auto;
  height: auto;
  perspective: 1000px;
}

.flip-card p {
  background-color: rgb(56, 56, 56);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transform-origin: rotate(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(56, 56, 56);
  color: black;
}

.flip-card-back {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: rotateY(180deg);
}
#content1 .flip-card-front {
  background: url(images/Academics.jpg);
  background-size: cover;
}
#content2 .flip-card-front {
  background: url(images/Kayak.jpg);
  background-size: cover;
}
#content3 .flip-card-front {
  background: url(images/study.png);
  background-size: cover;
}
#content4 .flip-card-front {
  background: url(images/Chapel.jpg);
  background-size: cover;
}
#content5 .flip-card-front {
  background: url(images/Family.jpg);
  background-size: cover;
}
#content6 .flip-card-front {
  background: url(images/Devo.jpg);
  background-size: cover;
}
