/* -webkit-background-clip: text; 
color: transparent;
background: linear-gradient(..) */
*{
    margin: 0;
    padding: 0;
    display: block;
    font-family: sans-serif;
    background-color: rgb(87, 16, 16);
}
title{
    display: none;
}
script{
    display: none;
}

/*Middle-left*/
.grid{
    color:rgb(224, 221, 221);
    padding: 7rem;
}
.grid h1{
    padding: 3rem;
    font-size: 60px;

}

